In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Fuel_Consumption.csv")

In [3]:
df.head()

   ENGINESIZE  CYLINDERS  FUELCONSUMPTION_COMB  CO2EMISSIONS
0         2.0          4                   8.5           196
1         2.4          4                   9.6           221
2         1.5          4                   5.9           136
3         3.5          6                  11.1           255
4         3.5          6                  10.6           244

In [4]:
df.describe()

        ENGINESIZE    CYLINDERS  FUELCONSUMPTION_COMB  CO2EMISSIONS
count  1067.000000  1067.000000           1067.000000   1067.000000
mean      3.346298     5.794752             11.580881    256.228679
std       1.415895     1.797447              3.485595     63.372304
min       1.000000     3.000000              4.700000    108.000000
25%       2.000000     4.000000              9.000000    207.000000
50%       3.400000     6.000000             10.900000    251.000000
75%       4.300000     8.000000             13.350000    294.000000
max       8.400000    12.000000             25.800000    488.000000

In [5]:
df.shape

(1067, 4)

In [6]:
df.isnull().sum()

ENGINESIZE              0
CYLINDERS               0
FUELCONSUMPTION_COMB    0
CO2EMISSIONS            0
dtype: int64

In [7]:
df.duplicated().sum()

509

In [8]:
df=df.drop_duplicates()

In [9]:
df.duplicated().sum()

0

In [10]:
import seaborn as sns
import matplotlib.pyplot as plt

In [11]:
sns.FacetGrid(df, col='CO2EMISSIONS', row='ENGINESIZE')